@import "tailwindcss";

@theme {
  --color-primary: #E8796C;
  --color-primary-light: #FDF2F6;
  --color-border: #EAE4D8;
  --color-text: #221A18;
  --color-text-muted: #8D8482;
  --color-error: #e53935;
}

body {
  font-family: sans-serif;
  color: #333;
}