@import "tailwindcss";

@theme {
  --color-primary: #B76E79;
  --color-primary-light: #F2EEE6;
  --color-border: #EAE4D8;
  --color-text: #0D0A09;
  --color-text-muted: #968178;
  --color-error: #e53935;
}

body {
  font-family: sans-serif;
  color: #333;
}
